.wrapper {
    display: flex;
}

.dark {
    background: #444343;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: #720101;
}

.red-text {
    color: aqua;
}

.default {
    background: inherit;
}

.default-text {
    color: goldenrod;
}