.message {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding: 40px;
}

.avatar img {
  width: 150px;
  margin-top: 56px;
  border-radius: 50%;
}

.textWrapper {
  width: 100%;
  padding-left: 50px;
  overflow: hidden;
}

.text {
  position: relative;
  display: flex;
  height: 185px;
  flex-direction: column;
  justify-content: center;
  background-color: floralwhite;
  padding: 20px;
  margin-left: 20px;
  width: 90%;
  border-radius: 20px 20px 20px 0;
  /*не позволяет слову вылезти за пределы контейнера*/
  word-wrap: break-word;
}

.text:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: -119px;
  width: 120px;
  height: 100px;
  background-color: floralwhite;
}

.text:before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: -200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #83af92;
  z-index: 10;
}

.text p {
  margin: 10px 0;
}

.text p:nth-child(1) {
  color: #83af92;
  font-size: 36px;
  font-weight: bold;
}

.text p:nth-child(2) {
  color: grey;
  font-size: 30px;
}

.text p:nth-child(3) {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #83af92;
  font-size: 26px;
}

.angle {
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 15px, #83af92 0);
}

