.superInput,
.errorInput {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.superInput:focus,
.errorInput {
    outline: none;
}

.superInput {
    border: 3px solid darkgreen;
    background-color: antiquewhite;
}

.errorInput {
    border: 3px solid darkred!important;
    background-color: #efd4df;
}

.error {
    color: red;
}
