.default,
.red {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #f5df3d;
    cursor: pointer;
    min-width: 150px;
    transition: .4s ease;
}

.red {
    background-color: red;
    color: white;
}

.default:hover,
.red:hover {
    transform: scale(1.05);
}

.default:disabled {
    background-color: #f6efc3;
    color: grey;
}